.container {
    display: flex;
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
}

.left-section {
    background-color: #f9f9f9;
}

.right-section {
    background-color: #eef;
}

button {
    border-radius: 30px;
    margin: 8px;
    display: block;
    margin-left: 50px;
    margin-right: auto;
}

h1 {
    position: sticky;
    top: 0;
    z-index: 1;
}
.caja h1 {
    position: sticky;
    border-radius:0;
    background-color: #FD5200;
    z-index: 1;
    text-align: center;
}

li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

li a:hover {
    color: #AF3800;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #FE621D;
    position: fixed;
    height: 100%;
    border-radius: 20px;
    overflow: auto;
    border: 3px solid #AF3800; ;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #FE621D;
//position: fixed;
    height: 95%;
    border-radius: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.caja {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    overflow: auto;
    margin: 10px;
    color: rgb(0, 0, 0);
    background-color: #FFB877;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.caja {
    flex: 1 0 200px; /
margin: 10px;
}

body {
    min-height: 100vh;
    background: url('background.jpg') center;
    /*
      background-color: #A0153E;
      color: #c76c6c;
    */


    div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
    }

    @media screen and (max-width: 700px) {
        .sidebar {
            width: 100%;
            height: auto;
            position: relative;
        }
        .sidebar a {float: left;}
        div.content {margin-left: 0;}
    }

    @media screen and (max-width: 400px) {
        .sidebar a {
            text-align: center;
            float: none;
        }
    }